.App {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.my-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  border-radius: 8px;
  background-color: #1d1e1f;
  font-size: 18px;
  margin-top: 15px;
  width: 300px;
  color: white;
}

.my-card:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
}
